<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="main">
        <h1><%= heading %></h1>
         <div class="main_operation-bar">
            <% if (employees) { %>
                <div class="main_operation-bar_wrapper">
                    <ul class="wrapper_employee-name">
                        <% employees.forEach((employee)=> { %>
                        <li>
                            <strong><%= employee['employee_name'] %></strong>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            <ul class="main_operation-bar_control-panel">
                <li><a href="/add">Add New Employee</a></li>
                <li><a href="/edit">Edit Employee information</a></li>
                <li><a href="/delete">Delete Employee</a></li>
                <li><a href="/search">Search Employee by skills</a></li>
            </ul>
        </div>
    </div>
   
</body>
</html>